/* Common Component Styles */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

form input[type="email"],
form input[type="password"],
form input[type="text"],
form input[type="number"],
form input[type="range"],
form select {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #87CEEB; /* 하늘색 */
    color: white;
    cursor: pointer;
}

form button:hover {
    background-color: #76c1e1; /* 하늘색의 약간 어두운 버전 */
}
